@import url('https://fonts.googleapis.com/css?family=Adamina&display=swap');
#app{
	background : #d7c49eff;
	padding-bottom : 1%;
}
.media img {
		width : 300px;
		height : 300px;
		margin-left : 20%;
	}
.media-body ul {
		margin-right : 4%;
	}
.about {
	font-family : 'Adamina',sans-serif;
}
form {
	text-align : left;
	background : #08192c;
	color : #ffffff;
	margin-left : 30%;
	margin-right : 30%;
	margin-top : 1%;
	padding : 1%;
}
label {
	padding : 1%;
	margin : 1%;
}
.feedback_page {
	background : #08192c;
	padding : 1%;
	width : 35%;
}
//Responsive

	@media only screen and (max-width: 1280px)
	{
		.search_info {
			padding-left : 10%;
		}
	}

	@media only screen and (max-width: 1024px)
	{
		.search_info {
			margin-left : 10%;
		}
	}

	@media only screen and (max-width: 959px)
	{
		.search_info {
			padding-left : 10%;
		}
		.media img {
			margin-left : 5%;
		}
	}

	@media only screen and (max-width: 768px)
	{
		.search_info {
			padding-left : 14%;
		}
		.media h3 {
			font-size : 1.5rem;
		}
		.media h5 {
			font-size : 1rem;
		}
		.contact-form, .feedback_page {
			width : 50%;
		}
	}

	@media only screen and (max-width: 699px)
	{
		.search_info {
			padding-left : 19%;
		}
		.media img {
			width : 280px;
			height : 280px;
			margin-top : 3%;
		}
	}

	@media only screen and (max-width: 635px)
	{
		.search_info {
			padding-left : 25%;
			margin-top : 4%;
		}
		.h3 {
			font-size : 1.6rem;
		}
		.media img {
			width : 250px;
			height : 250px;
			margin-top : 5%;
		}
	}

	@media only screen and (max-width: 600px)
	{
		.media img {
			width : 250px;
			height : 250px;
			margin-bottom : 5%;
			margin-left : 30%;
		}
		.media {
			display : block;
		}
	}

	@media only screen and (max-width: 539px)
	{
		.search_info {
			padding-left : 10%;
		}
		.media img {
			margin-left : 25%;
		}
		.contact-form, .feedback_page {
			width : 70%;
			margin-left : 13%;
		}
	}		

	@media only screen and (max-width: 479px)
	{
		.header {
			font : 5px;
		}
		p {
			font-size : 0.9rem;
		}
	}

	@media only screen and (max-width: 459px)
	{
		.container-fluid div {
			display : block
		}
		.search_info {
			padding-left : 0;
			padding-top : 2%;
		}
		.h3 {
			font-size : 1.3rem;
		}
		.media img {
			margin-left : 20%;
		}

	}

	@media only screen and (max-width: 360px)
	{
		.image {
			padding : 1%;
		}
		.media img {
			margin-left : 15%;
		}
		.contact-form, .feedback_page {
			width : 98%;
			margin-left : 1%;
		}
	}
